<?xml version="1.0" encoding="UTF-8"?>
<tizen:application id="org.tizentv.iptv" package="TizenTV" required_version="5.5" type="web">
  <tizen:label>Tizen TV</tizen:label>
  <icon>res/icon.png</icon>
  <content src="index.html"/>
  
  <!-- Privileges -->
  <tizen:privilege name="http://tizen.org/privilege/internet"/>
  <tizen:privilege name="http://tizen.org/privilege/mediaplayer"/>
  
  <!-- Splash -->
  <tizen:initial_window background_image="res/splash.png"/>
</tizen:application>
